  @media(min-width: 1200px){   
       
    .mobile { display: none !important;   }  

.content{
    display: flex;
    justify-content: space-between;
    /* position: fixed;  */
    top: 0px;
    width: 100%;   
}

.content__section{
    display: flex;
    align-items: center;
    padding: 15px 0 0 20px;
}

.content__section__image{
    width: 200px;
}

.content__list{
    width: calc(56% - 2px);
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black; 
    padding: 15px 20px 0 0;
}

.content__list__item {
    display: flex;

}

.content__list__item__icon{
    width: 10px;
    margin-left: 7%;
}

.content__list__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: rgb(254, 45, 160);
    height: 85%;
    width: 20%;
} 

.content__list__button a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.background {
    display: flex;
    align-items: center;
    width: 100%;
}

.backgroung__video{
    flex: 1;
    width: 100%;
    height: 100%;
}

.background__text{
    position: absolute;
    padding-left: 5%;
    color: white;
}

.background__text__first__h1{
   font-size: 60px; 
   width: 80%;
   margin: 0;
}

.background__text__second{
    font-size: 25px;
    width: 55%;
    margin: 0;
}

.background__text__second__p{
    margin: 20px 0 0 0;
}

.categories{

}

/* .categories__text{
    display: flex;
    justify-content: center;
    width: 100%;

} */

.categories__text__content{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

.categories__text__content__p{
    width: 80%;
    margin: 0;
}

.categories__boxes{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.categories__boxes__group{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.categories__boxes__group__one{
    display: flex;
    justify-content: space-evenly
}

.categories__boxes__group__one__first{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__one__second{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__one__second__der {
    display: flex;
    align-items: center;
}

.categories__boxes__group__two{
    display: flex;
    justify-content: space-evenly;
}

.categories__boxes__group__two__UX{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__two__front{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__three {
    padding-left: 3%;
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.categories__boxes__three p {
    margin: 0;
}

.categories__boxes__three__text {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.categories__boxes__three__img {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding-top: 27px;
}
.business__text{
    display: flex;
    margin: 2%;
}

.business__text__title{
    display: flex;
    justify-content: center;
    width: 50%;
}

.business__text__title h2 {
    width: 55%;
    margin: 10%;
    padding-left: 10%;
}

.business__text__content{
    display: flex;
    width: 50%;
}

.business__text__content p {
    width: 60%;
    margin: 10%;
}

.business__logos {

}

.business__logos__izq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 18px;
}

.business__logos__izq img {
    width: calc(14% - 2px);
    height: 100%;
    margin: 1%;
}

.business__logos__der {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 30px;
}

.business__logos__der img {
    width: calc(14% - 2px);
    height: 100%;
    margin: 1%;
}

.business__opinion {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.opinions {
    display: flex;
    flex-direction: row;

}

.opinions img {
    width: calc(25% - 2px);
     
    
}

.bootcamp {
    font-size: 20px;
}

.bootcamp__text{
    display: flex;
    margin: 2%;
}

.bootcamp__text__title{
    display: flex;
    justify-content: center;
    width: 50%;
}

.bootcamp__text__title h2 {
    width: 55%;
    margin: 10%;
    padding-left: 10%;
}

.bootcamp__text__content{
    display: flex;
    width: 50%;
}

.bootcamp__text__content p {
    width: 60%;
    margin: 10%;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
.more__btn {   
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 9px;
    background:rgb(74, 64, 236);
    height: 40px;
    width: 15%; 
}

.information {
    display: flex;
    justify-content: center;
}

.information__collage {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 100px;
}

.information__collage__one{
    display: flex;
}

.information__collage__one__FS {
    display: flex;
    width: 50%;
}

.information__collage__one__FS h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__one__FS img {
    width: 100%;
}

.information__collage__one__CS {
    display: flex;
    width: 50%;
}

.information__collage__one__CS h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__one__CS img {
    width: 100%;
}

.information__collage__one__FS h3 {
    position: absolute;
}

.information__collage__two{
    display: flex;
}

.information__collage__two__up {
    width: 50%;
}

.information__collage__two__up h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__two__up img {
    width: 100%;
}

.information__collage__two__down {
    width: 50%;
}

.information__collage__two__down h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__two__down img {
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.text h2 {
    font-size: 32px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.numbers__content {
    display: flex;
    justify-content: space-between;
    width: calc(87% - 2px);
} 
.numbers__content div {
    margin: 5%;
    width: 100%;
}

.numbers__content p {
    width: 100%;
}



.numbers__list {
    display: flex;
    justify-content: space-between;
    width: calc(87% - 2px);
}

.numbers__list div {
    margin: 5%;
    width: 100%;
}

.numbers__list p {
    width: 100%;
}

.form {
    display: flex;
    justify-content: space-around;
    background-color:rgb(74, 64, 236) ;
}

.form__text {
    width: 50%;
}

.form__text__question {
    margin: 13%;
    font-size: 23px;
    color: white;
}

.form__list{
    width: 50%;
    border: none;
    height: 100%;
}
.form__list__field {
    margin-top: 4%;
    margin-left: 0;
    padding-left: 0;
    border: 0;
    height: 53%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form__list__field label {
    font-size: 22px;
    color: white;
}
.form__list__field input {
    width: 95%;
    margin-bottom: 6%;
}

.form__list p {
    color: white;
    width: 90%;
}

.form__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    width: 40%;
    height: 55px;
    text-decoration: none;
    background: lightsteelblue;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: silver;
    height: 250px;
}

.footer__section {
    display: flex;
    width: 50%;
}

.footer__section__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.footer__section__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8%; 
}

.footer__section__ul li {
    list-style: none;
    margin-bottom: 3px;
}

.footer__icons {
    display: flex;
    margin-bottom: 8%;
    width: 9%;
}

.footer__icons img {
    margin-right: 10px;
}

 }  