@import url(./desktop.css);
@import url(./mobile.css);
@import url(./tablet.css);
@import url(./medium.css);
@import url(./large.css);

html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}