@media(max-width: 576px){ 
    .desktop { 
        display: none
        !important;
    }

.content{
    display: flex;
    justify-content: space-between;
    /* position: fixed;  */
    top: 0px;
    width: 100%;   
}

.content__section{
    display: flex;
    align-items: center;
    padding: 15px 0 0 20px;
}

.content__section__image{
    width: 200px;
}

.content__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 15px 20px 0 0;
}
.content__icon img {
    width: 15%;
    height: 25px;
}
.content__list{
    width: calc(56% - 2px);
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; 
    padding: 15px 20px 0 0;
}

.content__list__item {
    display: flex;

}

.content__list__item__icon{
    width: 10px;
    margin-left: 7%;
}

.content__list__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: rgb(254, 45, 160);
    height: 100%;
    width: 20%;
} 

.content__list__button a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.background {
    display: flex;
    align-items: center;
    width: 100%;
}

.backgroung__video{
    flex: 1;
    width: 100%;
    height: 100%;
}

.backgroung__video source {
    
}

.background__text{
    position: absolute;
    padding-left: 5%;
    color: white;
    width: 87%;
}

.background__text__first__h1{
   font-size: 30px; 
   width: 80%;
   margin: 0;
}

.background__text__second{
    font-size: 14px;
    width: 55%;
    margin: 0;
}

.background__text__second__p{
    margin: 20px 0 0 0;
}

.categories{

}

/* .categories__text{
    display: flex;
    justify-content: center;
    width: 100%;

} */

.categories__text__content{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.categories__text__content__p{
    width: 80%;
    margin: 0;
}

.categories__boxes{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.categories__boxes__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.categories__boxes__group__one{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.categories__boxes__group__one__first{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__one__second{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__one__second__der {
    display: flex;
    align-items: center;
}

.categories__boxes__group__two{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.categories__boxes__group__two__UX{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__group__two__front{
    background: rgb(251, 251, 253);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 5px 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-radius: 30px;
    padding-left: 1%;
    margin: 2px;
}

.categories__boxes__three {
    padding-left: 3%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.categories__boxes__three p {
    margin: 0;
}

.categories__boxes__three__text {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.categories__boxes__three__img {
    display: flex;
    flex-direction: column;
    width: 44px;
    padding-top: 16px;
}
.business__text{
    align-items: center;
    display: flex;
    margin: 2%;
    flex-direction: column;
}

.business__text__title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.business__text__title h2 {
    width: 90%;
    margin: 7%;
    padding-left: 2%;
    font-size: 19px;
    margin-bottom: 14px;
}

.business__text__content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.business__text__content p {
    width: 83%;
    margin-bottom: 6%;
    margin-top: 0;
    font-size: 15px;
}

.business__logos {

}

.business__logos__izq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 18px;
}

.business__logos__izq img {
    width: calc(14% - 2px);
    height: 100%;
    margin: 1%;
}

.business__logos__der {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 30px;
}

.business__logos__der img {
    width: calc(14% - 2px);
    height: 100%;
    margin: 1%;
}

.business__opinion {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.opinions {
    height: 734px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.opinions img {
    height: calc(25% - 0px);
    width: 75%;
}

.bootcamp__text{
    align-items: center;
    display: flex;
    margin: 2%;
    flex-direction: column;
}

.bootcamp__text__title{
    display: flex;
    justify-content: center;
    width: 100%;
}

.bootcamp__text__title h2 {
    width: 78%
}

.bootcamp__text__content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bootcamp__text__content p {
    margin: 0;
    width: 80%;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
.more__btn {   
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 9px;
    background:rgb(74, 64, 236);
    height: 47px;
    width: 35%; 
    margin-top: 25px;
}

.information {
    display: flex;
    justify-content: center;
}

.information__collage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.information__collage__one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 70%;
}

.information__collage__one__FS {
    display: flex;
    width: 90%;
    height: 50%;
}

.information__collage__one__FS h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__one__FS img {
    width: 100%;
}

.information__collage__one__CS {
    display: flex;
    width: 90%;
    height: 50%;
}

.information__collage__one__CS h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__one__CS img {
    width: 100%;
}

.information__collage__one__FS h3 {
    position: absolute;
}

.information__collage__two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 70%;
}

.information__collage__two__up {
    display: flex;
    width: 90%;
    height: 50%;
}

.information__collage__two__up h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__two__up img {
    width: 100%;
}

.information__collage__two__down {
    display: flex;
    width: 90%;
    height: 50%;
}

.information__collage__two__down h3 {
    position: absolute;
    width: 25%;
    margin-left: 1%;
    font-size: 30px;
    color: white;
}

.information__collage__two__down img {
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.text h2 {
    font-size: 32px;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numbers__content {
    display: flex;
    justify-content: space-between;
    width: calc(87% - 2px);
} 
.numbers__content div {
    margin: 5%;
    width: 100%;
}

.numbers__content p {
    width: 100%;
}



.numbers__list {
    display: flex;
    justify-content: space-between;
    width: calc(87% - 2px);
}

.numbers__list div {
    margin: 5%;
    width: 100%;
}

.numbers__list p {
    width: 100%;
}

.form {
    display: flex;
    justify-content: space-around;
    background-color:rgb(74, 64, 236);
    flex-direction: column;

}

.form__text {
    width: 100%;
}

.form__text__question {
    margin: 4%;
    font-size: 17px;
    color: white;
}

.form__list{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__list__field {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form__list__field label {
    font-size: 22px;
    color: white;
}
.form__list__field input {
    width: 95%;
    margin-bottom: 6%;
}

.form__list p {
    color: white;
    width: 90%;
    margin-top: 0;
    font-size: 10px;
    margin: 0 10px 10px 10px;
}

.form__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    width: 40%;
    height: 55px;
    text-decoration: none;
    background: lightsteelblue;
    margin: 5px 0 20px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: silver;
    
}

.footer__section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__section__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    
}

.footer__section__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 10px;   
}
.footer__section__ul ul {
    padding: 0;
    margin: 0;
}

.footer__section__ul li {
    list-style: none;
    margin-bottom: 3px;
}

.footer__icons {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.footer__icons img {
    margin-right: 10px;
    width: 14%;
}

 }  